[submodule "Fund me/lib/chainlink-brownie-contracts"]
	path = Fund me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Lottery/lib/chainlink-brownie-contracts"]
	path = Lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Lottery/lib/solmate"]
	path = Lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "Lottery/lib/foundry-devops"]
	path = Lottery/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
