[submodule "Fund me/lib/chainlink-brownie-contracts"]
	path = Fund me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Lottery/lib/chainlink-brownie-contracts"]
	path = Lottery/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Lottery/lib/solmate"]
	path = Lottery/lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "Lottery/lib/foundry-devops"]
	path = Lottery/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "Token/lib/openzeppelin-contracts"]
	path = Token/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "NFT-Project/lib/openzeppelin-contracts"]
	path = NFT-Project/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "NFT-Project/lib/foundry-devops"]
	path = NFT-Project/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "Defi/lib/openzeppelin-contracts"]
	path = Defi/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Defi/lib/chainlink-brownie-contracts"]
	path = Defi/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "Airdrop and Signatures/lib/openzeppelin-contracts"]
	path = Airdrop and Signatures/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "Airdrop and Signatures/lib/murky"]
	path = Airdrop and Signatures/lib/murky
	url = https://github.com/dmfxyz/murky
